@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: "Roboto";
    background-color: black;
    min-width: 200px;
    
}
.texts{
    font-family: "Roboto";
    color: green;
}
.center{
    display: flex;
    justify-content: center;
    color: green;
}
button{
    margin-top: 10px;
    background-color: black;
}
button:active{
    background-color: azure;
}